<h1>All Studios</h1>

<% @studios.each do |studio| %>
  <div id="<%= studio.id %>">
    <h3><%= studio.name %></h3>
    <% studio.movies.each do |movie| %>
      <p><%= movie.title %></p>
    <% end %>
  </div>
<% end %>
