<div id ="actor-info">
<h2> <%= @actor.name %> </h2>
<h3> <%= @actor.age %> years old </h3>
</div>
<div id ="co-actors">
<h4>Co-Actors:</h4>
<ul><% @actor.coactors.each do |coactor| %>
  <% if coactor != "Tom Holland" %>
  <li> <%= coactor %> </li>
  <% end %>
  <% end %> </ul>
</div>
