<% @studios.each do |studio| %>
  <div id="studio-<%= studio.id %>">
    <h3><%= studio.name %></h3>
    <p>Location: <%= studio.location %></p>
    <% studio.movies.each do |movie| %>
      <%= movie.title %>
    <% end %>
  </div>
<% end %>
