<h1>STUDIOS</h1>

<% @studios.each do |studio| %>
<p> <%= "#{studio.name}, located in #{studio.location}" %> </p>
  <%# "#{studio.movies.each do |movie|}" %>

    <p><%#= "#{movie.title}" %></p>
  <% end %>
