<h1>Studio Index Page</h1>
<% @studios.each do |studio| %>
  <h2>Studio: <%= studio.name %> </p></h2>
  <p>Location: <%= studio.location %> </p>
  <div id="studio-<%=studio.id%>">
    <p>Movies made at this studio:
    <% studio.movies.each do |movie| %>
    <p><%= movie.title %></div></p>
    <% end %>
  </p>
<% end %>
