<h1>Studios</h1>
<% @studios.each do |studio| %>
  <div id="studio-<%= studio.id%>">
  <p><%= studio.name %></p>
  <p><%= studio.location %></p>
  <% studio.movies.each do |movie| %>
    <p><%= movie.title %></p>
  <% end %>
  </div>
<% end %>