<% @studios.each do |studio| %>
<div id="<%= studio.id %>" >
  <%= studio.name %>
  <%= studio.location %>
    <% studio.movies.each do |movie| %>
    <%= movie.title %>
    <% end %>
  </div>
<% end %>
