<h1>Studios Index</h1>

<% @studios.each do |studio| %>
  <div id="studio-<%= studio.id %>">
    <h3><%= studio.name %></h3>
    <p>Location: <%= studio.location %></p>
      <ul>
      <% studio.movies.each do |movie| %>
        <li><%= movie.title %></li>
      <% end %>
      </ul>
  </div>
<% end %>